In [1]:
import pandas as pd
import sklearn

In [2]:
df= pd.read_csv("laptop_data_cleaned.csv")

In [3]:
df.head()

,Company,TypeName,Ram,Weight,Price,TouchScreen,Ips,Ppi,Cpu_brand,HDD,SSD,Gpu_brand,Os
0,Apple,Ultrabook,8,1.37,11.175755,0,1,226.983005,Intel Core i5,0,128,Intel,Mac
1,Apple,Ultrabook,8,1.34,10.776777,0,0,127.677940,Intel Core i5,0,0,Intel,Mac
2,HP,Notebook,8,1.86,10.329931,0,0,141.211998,Intel Core i5,0,256,Intel,Others
3,Apple,Ultrabook,16,1.83,11.814476,0,1,220.534624,Intel Core i7,0,512,AMD,Mac
4,Apple,Ultrabook,8,1.37,11.473101,0,1,226.983005,Intel Core i5,0,256,Intel,Mac

In [4]:
df['Company'].unique()

array(['Apple', 'HP', 'Acer', 'Asus', 'Dell', 'Lenovo', 'Chuwi', 'MSI',
       'Microsoft', 'Toshiba', 'Huawei', 'Xiaomi', 'Vero', 'Razer',
       'Mediacom', 'Samsung', 'Google', 'Fujitsu', 'LG'], dtype=object)

In [5]:
brand_dict={'Apple':1, 'HP':2, 'Acer':3, 'Asus':4, 'Dell':5, 'Lenovo':6, 'Chuwi':7, 'MSI':8,
       'Microsoft':9, 'Toshiba':10, 'Huawei':11, 'Xiaomi':12, 'Vero':13, 'Razer':14,
       'Mediacom':15, 'Samsung':16, 'Google':17, 'Fujitsu':18, 'LG':19}

In [6]:
df['Company']=df['Company'].map(brand_dict)

In [7]:
df.head()

,Company,TypeName,Ram,Weight,Price,TouchScreen,Ips,Ppi,Cpu_brand,HDD,SSD,Gpu_brand,Os
0,1,Ultrabook,8,1.37,11.175755,0,1,226.983005,Intel Core i5,0,128,Intel,Mac
1,1,Ultrabook,8,1.34,10.776777,0,0,127.677940,Intel Core i5,0,0,Intel,Mac
2,2,Notebook,8,1.86,10.329931,0,0,141.211998,Intel Core i5,0,256,Intel,Others
3,1,Ultrabook,16,1.83,11.814476,0,1,220.534624,Intel Core i7,0,512,AMD,Mac
4,1,Ultrabook,8,1.37,11.473101,0,1,226.983005,Intel Core i5,0,256,Intel,Mac

In [8]:
df['TypeName'].unique()

array(['Ultrabook', 'Notebook', 'Netbook', 'Gaming', '2 in 1 Convertible',
       'Workstation'], dtype=object)

In [9]:
type_dict={'Ultrabook':1, 'Notebook':2, 'Netbook':3, 'Gaming':4, '2 in 1 Convertible':5,
       'Workstation':6}

In [10]:
df['TypeName']=df['TypeName'].map(type_dict)

In [11]:
df.head()

,Company,TypeName,Ram,Weight,Price,TouchScreen,Ips,Ppi,Cpu_brand,HDD,SSD,Gpu_brand,Os
0,1,1,8,1.37,11.175755,0,1,226.983005,Intel Core i5,0,128,Intel,Mac
1,1,1,8,1.34,10.776777,0,0,127.677940,Intel Core i5,0,0,Intel,Mac
2,2,2,8,1.86,10.329931,0,0,141.211998,Intel Core i5,0,256,Intel,Others
3,1,1,16,1.83,11.814476,0,1,220.534624,Intel Core i7,0,512,AMD,Mac
4,1,1,8,1.37,11.473101,0,1,226.983005,Intel Core i5,0,256,Intel,Mac

In [12]:
df['Cpu_brand'].unique()

array(['Intel Core i5', 'Intel Core i7', 'AMD Processor', 'Intel Core i3',
       'Other Intel Processor'], dtype=object)

In [13]:
cpu_dict={'Intel Core i5':1, 'Intel Core i7':2, 'AMD Processor':3, 'Intel Core i3':4,
       'Other Intel Processor':5}

In [14]:
df['Cpu_brand']=df['Cpu_brand'].map(cpu_dict)

In [15]:
df.head()

,Company,TypeName,Ram,Weight,Price,TouchScreen,Ips,Ppi,Cpu_brand,HDD,SSD,Gpu_brand,Os
0,1,1,8,1.37,11.175755,0,1,226.983005,1,0,128,Intel,Mac
1,1,1,8,1.34,10.776777,0,0,127.677940,1,0,0,Intel,Mac
2,2,2,8,1.86,10.329931,0,0,141.211998,1,0,256,Intel,Others
3,1,1,16,1.83,11.814476,0,1,220.534624,2,0,512,AMD,Mac
4,1,1,8,1.37,11.473101,0,1,226.983005,1,0,256,Intel,Mac

In [16]:
df['Gpu_brand'].unique()

array(['Intel', 'AMD', 'Nvidia'], dtype=object)

In [17]:
Gpu_dict={'Intel':1, 'AMD':2, 'Nvidia':3}

In [18]:
df['Gpu_brand']=df['Gpu_brand'].map(Gpu_dict)

In [19]:
df.head()

,Company,TypeName,Ram,Weight,Price,TouchScreen,Ips,Ppi,Cpu_brand,HDD,SSD,Gpu_brand,Os
0,1,1,8,1.37,11.175755,0,1,226.983005,1,0,128,1,Mac
1,1,1,8,1.34,10.776777,0,0,127.677940,1,0,0,1,Mac
2,2,2,8,1.86,10.329931,0,0,141.211998,1,0,256,1,Others
3,1,1,16,1.83,11.814476,0,1,220.534624,2,0,512,2,Mac
4,1,1,8,1.37,11.473101,0,1,226.983005,1,0,256,1,Mac

In [20]:
df['Os'].unique()

array(['Mac', 'Others', 'Windows'], dtype=object)

In [21]:
Os_dict={'Mac':1, 'Others':2, 'Windows':3}

In [22]:
df['Os']=df['Os'].map(Os_dict)

In [23]:
df.head()

,Company,TypeName,Ram,Weight,Price,TouchScreen,Ips,Ppi,Cpu_brand,HDD,SSD,Gpu_brand,Os
0,1,1,8,1.37,11.175755,0,1,226.983005,1,0,128,1,1
1,1,1,8,1.34,10.776777,0,0,127.677940,1,0,0,1,1
2,2,2,8,1.86,10.329931,0,0,141.211998,1,0,256,1,2
3,1,1,16,1.83,11.814476,0,1,220.534624,2,0,512,2,1
4,1,1,8,1.37,11.473101,0,1,226.983005,1,0,256,1,1

In [24]:
x=df.drop('Price',axis=1)
y=df[['Price']]

In [25]:
import sklearn

In [26]:
from sklearn.ensemble import RandomForestRegressor
model=RandomForestRegressor()
from sklearn.model_selection import train_test_split

In [27]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [28]:
rfr_obj=RandomForestRegressor(n_estimators=200,
                              criterion='absolute_error',
                              max_depth=3,
                              min_samples_split=2,
                              min_samples_leaf=2)

In [29]:
rfr_obj.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'criterion': 'absolute_error',
 'max_depth': 3,
 'max_features': 1.0,
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 2,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 200,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [30]:
rfr_obj.fit(x_train,y_train)

C:\Users\akash\AppData\Roaming\Python\Python312\site-packages\sklearn\base.py:1152: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

RandomForestRegressor(criterion='absolute_error', max_depth=3,
                      min_samples_leaf=2, n_estimators=200)

In [31]:
rfr_obj.score(x_train,y_train)

0.7753606798753525

In [32]:
rfr_obj.score(x_test,y_test)

0.7494293663095373

In [33]:
import joblib
joblib.dump(model,'random_forest_regressor')

['random_forest_regressor']